extends layout.pug

block body
    <div id="login">
        <div class="columns">
            <div class="item">
                <div class="item-innerbox">
                </div>
            </div>
            <div class="item">
                <div class="item-innerbox">
                    <div class="form">
                        <h3>Creat an account</h3>
                        <div class="form-row">
                            <span>Your Email</span>
                            <input type="text" placeholder="@getac.com.tw">
                        </div>
                        <div class="form-btns">
                            <a href="index.html" class="button-default color-primary">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>